<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="./js/slider.js"></script>
</head>
<body>

    <section class="hero__container container">
        <section class="testimony">
            <div class="testimony__container container">
                <img src="./images/leftarrow.svg" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts"></div>
                    <figure class="testimony__picture">
                    <div class="container-img"> 
                        <h1 class="hero__title">SPIRAX SARCO TRAINING CENTER - MONTERREY, MÉXICO</h1>
                        <p class="hero__paragraph">Caldera de vapor a 80 HP modelo WB-A2-3P con quemador Weishaupt para gas natural</p>
                        <a href="#" class="cta">Pedir presupuesto</a>
                    </div>
                        <img src="./images/1.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body next" data-id="2">
                    <figure class="testimony__picture">     
                        <div class="container-img"> 
                            <h1 class="hero__title">SEDENA - CDMX, MÉXICO</h1>
                            <p class="hero__paragraph">Dos Calderas de vapor de 400 HP modelo WB-A2-3P con quemador Weishaupt para Gas Natural y Diesel</p>
                            <a href="#" class="cta">Pedir presupuesto</a>
                        </div>
                        <img src="./images/2.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <figure class="testimony__picture">
                        <div class="container-img"> 
                            <h1 class="hero__title">PASO LARGO - VERACRUZ, MÉXICO</h1>
                            <p class="hero__paragraph">Caldera de vapor a 800 HP modelo WB-A2-3P con quemador Weishaupt para gas natural</p>
                            <a href="#" class="cta">Pedir presupuesto</a>
                        </div>
                        <img src="./images/3.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="4">
                    <figure class="testimony__picture">
                        <div class="container-img"> 
                            <h1 class="hero__title">HOTEL SEDENA - CDMX, MÉXICO</h1>
                            <p class="hero__paragraph">Calderas de agua caliente de 60 HP modelo VT3-IC con quemador Riello para gas LP</p>
                            <a href="#" class="cta">Pedir presupuesto</a>
                        </div>
                        <img src="./images/4.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="5">
                    <figure class="testimony__picture">
                        <div class="container-img"> 
                            <h1 class="hero__title">JUMEX - CDMX, MÉXICO</h1>
                            <p class="hero__paragraph">Calderas de vapor de 600 HP y 400 HP modelo WB-A2-3P con quemador Weishaupt para Gas Natural</p>
                            <a href="#" class="cta">Pedir presupuesto</a>
                        </div>
                        <img src="./images/5.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body before" data-id="6">
                    <figure class="testimony__picture">
                        <div class="container-img"> 
                            <h1 class="hero__title">GENOMA LAB - CDMX, MÉXICO</h1>
                            <p class="hero__paragraph">Caldera de vapor de 250 HP modelo WB-A2-3P con quemador Weishaupt para Gas Natural y Diesel</p>
                            <a href="#" class="cta">Pedir presupuesto</a>
                        </div>
                        <img src="./images/6.jpg" class="testimony__img">
                    </figure>
                </section>


                <img src="./images/rightarrow.svg" class="testimony__arrow" id="next">
            </div>
        </section>
        
    </section>

</body>
</html>