<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="Footer">

        <div class="foot__container container">

            <div class="form-content">

                <h2>Enviar su formulario</h2>

                <form>

                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" >

                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" id="email">

                    <label for="subject">Asunto</label>
                    <input type="text" name="subject" id="subject">

                    <label for="coments">Comentarios</label>
                    <textarea name="coments" id="coments" cols="30" rows="5"></textarea>

                    <input class="form-btn" type="submit" value="Enviar">

                </form>

            </div>

            <span class="lineaC"></span>

            <div class="footTittle">
            <p class="foot__text">Justificar la Confianza Depositada es nuestro lema de ventas, con el respaldo del excelente prestigio de nuestra marca.</h2>
            <p class="footParagraph">JAGURA inc. &copy; 2023 - Power Master S.A. De C.V.</p>
            </div>
        </div>

    </section>
</body>
</html>