<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powermaster</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>

<body>
    <div w3-include-html="nabvar.html"></div>

    <section class="Empresa">

        <div class="gallery-container">

            <span class="lineaDa"></span>
            <span class="lineaIa"></span>
            <div class="gallery__tittle">Empresa</div>
            <div class="gallery__paragraph">
                Calderas Powermaster es un grupo industrial
                dedicado a la fabricación de calderas de tubos
                    
                de humo para generación de vapor y agua so-
                brecalentada, generadores de agua caliente de
                    
                consumo, calentadores de aceite térmico y sus
                equipos auxiliares.</div>
            <div class="gallery__item"><img src="../images/gallery1.jpg" alt="" class="gallery__img"></div>
            <div class="gallery__item"><img src="../images/gallery2.jpg" alt="" class="gallery__img"></div>
            <div class="gallery__item"><img src="../images/gallery3.jpg" alt="" class="gallery__img"></div>
            <div class="gallery__item"><img src="../images/gallery4.jpg" alt="" class="gallery__img"></div>    
            <div class="gallery__item"><img src="../images/gallery5.jpg" alt="" class="gallery__img"></div>

            
        </div>
    </section>

    <section class="Historia">

        <div class="aboutUs__container container">
            
            <span class="lineaDa"></span>
            <span class="lineaIa"></span>

            <div class="nosotros__tittle">
                <h1>Historia</h1>
            </div>

            <div class="nosotros__tittle">
                <h1 class="Nparagraph cinco" style="font-weight: 600;color: #101084; font-size: 1.7rem;">Carrusel</h1>
                
            </div>

        </div>
    </section>

    <div class="contenedor img3">

        <span class="lineaDa"></span>
        <span class="lineaIa"></span>
        <div class="texto-encima" style="background-color: transparent; font-size: 2.5rem;">Misión y Visión</div>
    </div>

    <div w3-include-html="./templates/footer.html"></div>

    <script src="./js/menu.js"></script>
    <script>includeHTML()</script>
</body>
</html> 