<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">

    <script src="../js/menu.js"></script>
</head>
<body>
        <div class = "navSuperior">
            <p class = "hero__paragraph" style="margin: 0;"> T. (+52) 55 5393 5711 | (+52) 55 5393 5700 | (+52) 55 5393 5770 </p>
        </div> 
        <nav class="nav container">
            <a href="../homeview.html"><div class="nav__logo">
                <img src="../images/logoV2.png", alt="Logo Powermaster", style="max-width: 250px;">
            </div></a>
            <ul class="nav__link nav__link--menu", style="list-style: square;">
                <li class="nav__items">
                    <a href="../templates/history.html" class="nav__links" href="history.html">Nosotros</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Productos</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Refacciones</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Servicio</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Guía Técnica</a>
                </li>
                <img src="../images/close.svg" class="nav__close">
            </ul>
            <a href="/contact/" class="btn-flotante">Contacto</a>
    
            <div class="nav__menu">
                <img src="../images/menu.svg" class="nav__img">
            </div>
        </nav>
    </header>
</body>

</html>