<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="questions container">
        <h2 class="subtitle">Powermaster</h2>
        <p class="questions__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, porro
            doloribus neque perspiciatis sapiente fuga.</p>

        <section class="questions__container">
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Por qué nosotros? 
                        <span class="questions__arrow">
                            <img src="./images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                        facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                        eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                        amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                        nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                        quam atque?</p>
                </div>
            </article>
            
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">About
                        <span class="questions__arrow">
                            <img src="./images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                        facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                        eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                        amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                        nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                        quam atque?</p>
                </div>
            </article>
        </section>
    </section>
</body>
</html>